@import "tailwindcss";
@import "./scrollbar.css";

@custom-variant sepia (&:is(.sepia *));
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: oklch(0.9856 0.0084 56.3169);
    --foreground: oklch(0.3353 0.0132 2.7676);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3353 0.0132 2.7676);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3353 0.0132 2.7676);
    --primary: oklch(0.7357 0.1641 34.7091);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9596 0.02 28.9029);
    --secondary-foreground: oklch(0.5587 0.1294 32.7364);
    --muted: oklch(0.9656 0.0176 39.4009);
    --muted-foreground: oklch(0.5534 0.0116 58.0708);
    --accent: oklch(0.8278 0.1131 57.9984);
    --accent-foreground: oklch(0.3353 0.0132 2.7676);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9296 0.037 38.6868);
    --input: oklch(0.9296 0.037 38.6868);
    --ring: oklch(0.7357 0.1641 34.7091);
    --chart-1: oklch(0.7357 0.1641 34.7091);
    --chart-2: oklch(0.8278 0.1131 57.9984);
    --chart-3: oklch(0.8773 0.0763 54.9314);
    --chart-4: oklch(0.82 0.1054 40.8859);
    --chart-5: oklch(0.6368 0.1306 32.0721);
    --sidebar: oklch(0.9656 0.0176 39.4009);
    --sidebar-foreground: oklch(0.3353 0.0132 2.7676);
    --sidebar-primary: oklch(0.7357 0.1641 34.7091);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8278 0.1131 57.9984);
    --sidebar-accent-foreground: oklch(0.3353 0.0132 2.7676);
    --sidebar-border: oklch(0.9296 0.037 38.6868);
    --sidebar-ring: oklch(0.7357 0.1641 34.7091);
    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Ubuntu Mono, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
    --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
    --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
    --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: oklch(0.2569 0.0169 352.4042);
    --foreground: oklch(0.9397 0.0119 51.3156);
    --card: oklch(0.3184 0.0176 341.4465);
    --card-foreground: oklch(0.9397 0.0119 51.3156);
    --popover: oklch(0.3184 0.0176 341.4465);
    --popover-foreground: oklch(0.9397 0.0119 51.3156);
    --primary: oklch(0.7357 0.1641 34.7091);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3637 0.0203 342.2664);
    --secondary-foreground: oklch(0.9397 0.0119 51.3156);
    --muted: oklch(0.3184 0.0176 341.4465);
    --muted-foreground: oklch(0.8378 0.0237 52.6346);
    --accent: oklch(0.8278 0.1131 57.9984);
    --accent-foreground: oklch(0.2569 0.0169 352.4042);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3637 0.0203 342.2664);
    --input: oklch(0.3637 0.0203 342.2664);
    --ring: oklch(0.7357 0.1641 34.7091);
    --chart-1: oklch(0.7357 0.1641 34.7091);
    --chart-2: oklch(0.8278 0.1131 57.9984);
    --chart-3: oklch(0.8773 0.0763 54.9314);
    --chart-4: oklch(0.82 0.1054 40.8859);
    --chart-5: oklch(0.6368 0.1306 32.0721);
    --sidebar: oklch(0.2569 0.0169 352.4042);
    --sidebar-foreground: oklch(0.9397 0.0119 51.3156);
    --sidebar-primary: oklch(0.7357 0.1641 34.7091);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8278 0.1131 57.9984);
    --sidebar-accent-foreground: oklch(0.2569 0.0169 352.4042);
    --sidebar-border: oklch(0.3637 0.0203 342.2664);
    --sidebar-ring: oklch(0.7357 0.1641 34.7091);
    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Ubuntu Mono, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
    --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
    --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
    --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
  }

  .sepia {
    --background: oklch(0.8798 0.0534 91.7893);
    --foreground: oklch(0.4265 0.031 59.2153);
    --card: oklch(0.8937 0.0395 87.5676);
    --card-foreground: oklch(0.4265 0.031 59.2153);
    --popover: oklch(0.9378 0.0331 89.8515);
    --popover-foreground: oklch(0.4265 0.031 59.2153);
    --primary: oklch(0.6657 0.105 118.9078);
    --primary-foreground: oklch(0.9882 0.0069 88.6415);
    --secondary: oklch(0.8532 0.0631 91.1493);
    --secondary-foreground: oklch(0.4265 0.031 59.2153);
    --muted: oklch(0.8532 0.0631 91.1493);
    --muted-foreground: oklch(0.5761 0.0259 60.9323);
    --accent: oklch(0.8361 0.0713 90.3269);
    --accent-foreground: oklch(0.4265 0.031 59.2153);
    --destructive: oklch(0.7136 0.0981 29.9827);
    --destructive-foreground: oklch(0.979 0.0082 91.4818);
    --border: oklch(0.6918 0.044 59.8448);
    --input: oklch(0.8361 0.0713 90.3269);
    --ring: oklch(0.735 0.0564 130.8494);
    --chart-1: oklch(0.735 0.0564 130.8494);
    --chart-2: oklch(0.6762 0.0567 132.4479);
    --chart-3: oklch(0.8185 0.0332 136.6539);
    --chart-4: oklch(0.5929 0.0464 137.6224);
    --chart-5: oklch(0.5183 0.039 137.1892);
    --sidebar: oklch(0.8631 0.0645 90.5161);
    --sidebar-foreground: oklch(0.4265 0.031 59.2153);
    --sidebar-primary: oklch(0.735 0.0564 130.8494);
    --sidebar-primary-foreground: oklch(0.9882 0.0069 88.6415);
    --sidebar-accent: oklch(0.9225 0.0169 88.0027);
    --sidebar-accent-foreground: oklch(0.4265 0.031 59.2153);
    --sidebar-border: oklch(0.9073 0.017 88.0044);
    --sidebar-ring: oklch(0.735 0.0564 130.8494);
    --font-sans: Merriweather, serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.425rem;
    --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
    --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
    --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
    --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* 10. Add a pointer cursor for clickable elements */
  a,
  button {
    cursor: pointer;
  }

  /*
  11. Create a root stacking context
*/
  #root,
  #__nuxt {
    isolation: isolate;
  }
}

@layer utilities {
  /* Make the *old* page wait before it disappears */
  ::view-transition-old(root) {
    animation-delay: 500ms;
  }

  /* Make the *new* page arrive through a circle wipe */
  ::view-transition-new(root) {
    animation: circle-in 500ms;
  }

  /* The circle-wipe keyframes */
  @keyframes circle-in {
    from {
      clip-path: circle(0% at 50% 0%);
    }
    to {
      clip-path: circle(120% at 50% 0%);
    }
  }
}
